//icons
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";

//Font
@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;800&family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,500&display=swap";

@import "public/scss/variables/colors";
@import "public/scss/normalizer";
@import "public/scss/variables/dimensions";
@import "public/scss/functions/index";
@import "public/scss/mixins/index";

body {
  background: $white80;
  max-width: $dim_width_max;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  color: $black65;

  main {
      width: inherit;
      height: inherit;
  }

  .oyen_deco {
      display: grid;
      grid-template-columns: 1fr;
      background-image:  linear-gradient(to bottom, rgba(255, 128, 255, 0.11), rgba(0, 128, 36, 0.16)), url("public/assets/bkg_oyen_deco.jpeg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
}

@import "public/scss/home_page/index";
@import "public/scss/oyenga/header";