$white: rgba(255, 255, 255);
$white80: rgba(255, 255, 255, 0.8);

//variants black
$black: rgba(0, 0, 0);
$black91: rgba(0, 0, 0, 0.91);
$black65: rgba(0, 0, 0, 0.65);
$black84: rgba(0, 0, 0, 0.84);

//variants grey
$grey: rgba(12, 12, 12);
$grey16: rgba(12, 12, 12, 0.16);
$grey31: rgba(12, 12, 12, 0.31)
