<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="module" src="js/script.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <main class="<% if (module !== 0){  %>oyen_deco<% endif } %>">
            <% if (module !== 0){  %>
                <%- include('../partials/oyen-deco/header'); %>
            <% endif } %>
            <% if (module !== 1){  %>
                    <div id="root"></div>
            <% endif } %>
            <%- body %>
        </main>
    </body>
</html>