<modal-prog-chris>
 <%- form %>
</modal-prog-chris>
<section class="home_page_section">
 <div class="home_page_banner">
  <div class="description_company">
   <h4>
    <span class="material-symbols-outlined">task_alt</span>
    <span></span>
   </h4>
   <h2></h2>
   <p></p>
   <div class="wrap_button">
    <button class="btn_logo">voir logo</button>
    <button class="btn_action">Entrée</button>
   </div>
  </div>

  <div class="menu">
   <div class="wrap_menu_item">
    <a href="">ramga</a>
    <a href="">oyen deco</a>
    <a href="">espace pro</a>
   </div>
   <div class="assets">
   </div>
  </div>
 </div>
</section>