.home_page_section {
  width: inherit;
  height: 100vh;
  background: linear-gradient(217deg, $black65, $grey16 $p7071),
  linear-gradient(127deg, $black91, $grey31 $p7071),
  linear-gradient(336deg, $black84, $grey $p7071);

  .home_page_banner {
    width: calculation_dimension(80px);
    height: calculation_dimension(120px);
    transform: translate(40px, 60px);
    box-shadow: 0px 1px 2px 2px $grey,
    0px 1px 2px 2px $black;
    color: $white;
    background-image: url('../assets/neurons.jpg');
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .description_company {
      @include layout-home-page;

      h4 {
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-shadow: 1px 1px 2px $black65;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;

        span {
          display: inline-block;
          margin: 0 2px;
          font-size: 2rem;
        }
      }

      h2 {
        color: $white;
        text-shadow: 1px 1px 2px $black65;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 3rem;
        position: relative;
        top: 0;
        left: 0;

        &:before {
          content: '';
          width: 70%;
          border: 3px solid $black91;
          box-shadow: 1px 1px 3px $white;
          transform: rotate(360deg);
          position: absolute;
          bottom: -8px;
          left: 0;
        }
      }

      p {
        font-family: 'Inconsolata', monospace;
        font-weight: 300;
        font-size: 1.7rem;
        text-align: justify;
        text-indent: 80px;
        line-height: 1.3;
        color: $white;
        text-shadow: 2px 2px 3px $grey;
        margin: 30px 0;
      }

      .wrap_button {
        width: inherit;
        margin: 60px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Inconsolata', monospace;
        font-weight: 200;
        font-size: 1.5rem;

        button {
          padding: 10px 20px;
          border-radius: 10px;
          background: none;
          border: 1px solid $white;
          color: $white;
          text-shadow: 2px 2px 3px $grey;
          cursor: pointer;
        }
      }
    }

    .menu{
      @include layout-home-page;

      .wrap_menu_item {
        text-align: right;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        width: inherit;

        a {
          color: $white;
          text-shadow: 1px 1px 3px $grey;
          display: inline-block;
          padding-top: 25px;
          margin: 0 15px;
          transition: border-bottom 200ms ease-in 1s, transform 100ms ease-in 1s;

          &:hover {
            border-bottom: 2px solid $white;
            transform: scaleX(1.2);
          }
        }
      }
        .assets {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
         
      }
    }
  }
}