.header_oyenga {
    width: inherit;
    height: 20rem;
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../assets/decoration.jpeg");
    background-size: cover;
    background-position: center center;

    .logo {
        position: absolute;
        top: 2px;
        left: 2px;
        width: inherit;

        img {
            width: 5%
        }
    }
    .social_network {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: inherit;
        background: rgba(240, 248, 255, 0.62);
        margin: 0 auto;

        .banner_social_network {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 90%;

            a {
                display: block;
                width: 2%;
                margin: 5px;

                img {
                    width: 100%;
                }
            }
        }
    }
}