<div class="header_oyenga">
    <div class="logo">
        <img src="assets/logo.jpg" alt="logo" />
    </div>
    <div class="social_network">
        <div class="banner_social_network">
            <div class="slogan">Mariage, Baby Shower, Anniversaire, Party, Conférence, Activité Culturelle: À l'extérieur comme à l'interieur</div>
            <div class="image">
                <a href="https://www.facebook.com/OYENDECO" target="_blank">
                    <img src="assets/icons/fbk.png" alt="facebook icon">
                </a>
                <a href="" target="_blank">
                    <img src="assets/icons/insta.jpeg" alt="instagram icon" >
                </a>
            </div>
        </div>
    </div>
</div>